* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

header {
  background-color: #3b3b3b; /* Grey background */
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

header img {
  display: block;
  margin: 0 auto;
}

nav {
  background-color: #807c7c;
  text-align: center;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav a {
  color: #000000; /* White text color for links */
  text-decoration: none;
}

section {
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.featured-artwork {
  justify-content: center;
  background-color: #ffffff; /* Grey background */
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(152, 151, 151, 0.1);
  max-width: 100%;
  height: auto;
  display: block;
}

.upcoming-exhibitions ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
  margin: 0;
}

.upcoming-exhibitions li {
  flex: 1;
  margin: 0 10px;
  background-color: #ffffff;
  border-radius: 10px;
  justify-content: center;
  padding: 20px;
  max-width: 300px;
}

footer {
  background-color: #3b3b3b; /* Black background for the footer */
  color: white;
  text-align: center;
  padding: 20px 0;
}

.artwork {
  text-align: center;
  display: auto;
  justify-content: center;
}