/* Reset some default styles */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
  background-color: rgba(102, 98, 98, 0.723); /* White background */
  color: #000; /* Black text color */
}

body {
  font-family: Arial, sans-serif;
  background-color: #b8b5b5; /* Grey background */
  color: #fff; /* White text color */
  line-height: 1.6;
}

header {
  background-color: #3b3b3b; /* Grey background */
  color: #fff; /* White text color */
  text-align: center;
  padding: 20px 0;
}

header img {
  display: block;
  margin: 0 auto;
}

h1, p {
  margin: 0;
}

nav {
  background-color: #807c7c; /* Black background for the navigation bar */
  text-align: center;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav a {
  color: #000000; /* White text color for links */
  text-decoration: none;
}

section {
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.featured-artwork {
  justify-content: center;
  background-color: #918e8e; /* Grey background */
  margin: 20px 0;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 0 10px rgba(152, 151, 151, 0.1);
  max-width: 100%;
  height: auto;
  display: block;
}

.upcoming-exhibitions ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
  margin: 0;
}

.upcoming-exhibitions li {
  flex: 1;
  margin: 0 10px;
  background-color: #948f8f; /* Grey background */
  border: 1px solid #ddd;
  justify-content: center;
  padding: 20px;
  max-width: 300px;
}

footer {
  background-color: #3b3b3b; /* Black background for the footer */
  color: rgb(255, 255, 255)606; /* White text color */
  text-align: center;
  padding: 20px 0;
}
